# ----------- #
# .gitmodules #
# ----------- #

[submodule "stock-cli"]
	path = stock-cli
	url = https://github.com/evonshahriar/stock-cli
[submodule "stonks"]
	path = stonks
	url = https://github.com/ericm/stonks
[submodule "ticker.sh"]
	path = ticker.sh
	url = https://github.com/pstadler/ticker.sh

# EOF #

