# ----------- #
# .gitmodules #
# ----------- #

[submodule "stock-cli"]
	path = stock-cli
	url = https://github.com/evonshahriar/stock-cli

# EOF #
[submodule "stonks"]
	path = stonks
	url = https://github.com/ericm/stonks
